hr {
  color: silver;
  border: 1px solid silver;
}

.col {
  box-sizing: border-box;
  margin-bottom: 5px;
}

a :hover {
  text-decoration: underline;
  color: silver;
}

a:link,
a:visited {
  text-decoration: none;
  color: silver;
}

/* footer css */
footer {
  background-color: rgb(44, 44, 44);
}

img {
  margin: auto 8px;
  fill: white;
}
footer p {
  line-height: 2rem;
  color: #aaa;
}
